<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/LOGO.png" alt="Logo" height="60" class="d-inline-block align-top">
  </a>
  <div class="navbar-collapse justify-content-center"></div>
  <div class="ml-auto">
    <a class="navbar-brand" routerLink="/profile" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }">Mon Espace</a>
    <a class="navbar-brand" routerLink="/publications">Publications</a>
  </div>
</nav>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="text-center user-picture">
        <img src="assets/pngwing.com (4).png" alt="User Avatar" class="img-fluid rounded">
      </div>
      <div class="user-details mt-3 text-center">
        <label>Nom: </label>
        <p>{{userConnectee.lastName}}</p>

        <label>Prénom: </label>
        <p>{{userConnectee.firstName}}</p>

        <label>Email: </label>
        <p>{{userConnectee.email}}</p>
      </div>
      <div class="text-center">
        <button class="btn btn-success" (click)="modifierCoordonnees()">Modifier mes coordonnées</button>
      </div>
      <div class="modification-form mt-3" *ngIf="showModificationForm">
        <form [formGroup]="coordonneesForm">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nouveau nom" formControlName="nom">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Nouveau prénom" formControlName="prenom">
          </div>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Nouvel email" formControlName="email">
          </div>
          <button type="button" (click)="enregistrerCoordonnees()"
            class="btn btn-success btn-block">Enregistrer</button>
        </form>
      </div>
      <div class="publications mt-4">
        <h2 class="text-center mb-4">Mes Publications</h2>
        <div class="row">
          <div *ngFor="let publication of publicationsUser" class="col-md-3">
            <div class="card mb-4">
              <div class="card-body">
                <img src="assets/igor-son-FV_PxCqgtwc-unsplash.jpg" class="card-img-top" alt="Image de la publication">
                <h5 class="card-title">{{ publication.creationDate }}</h5>
                <p class="card-text">{{ publication.address.city }}</p>
                <p class="card-text">{{ publication.address.postalAddress }}</p>
                <button type="button" class="btn btn-danger btn-block"
                  (click)="supprimerPublication(publication.id)">Supprimer</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gardienages mt-4">
        <h2 class="text-center mb-4">Mes Gardiennages</h2>
        <div *ngFor="let gardiennage of gardiennagesUser" class="col-md-3">
          <!-- Affichez les détails du gardiennage ici -->
        </div>
      </div>
      <div class="add-plant-box mt-4 text-center">
        <div class="container">
          <div class="box">
            <h2 class="mb-4">Ajouter une publication</h2>
            <p>Vous souhaitez ajouter une nouvelle publication ? Cliquez sur le bouton ci-dessous pour accéder au
              formulaire.</p>
            <a routerLink="/ajouterpublication" class="btn btn-success">Ajouter une publication</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
