.navbar {
  background-color: #f8f9fa; /* Light background color */
  box-shadow: 0 4px 6px -6px #222; /* Slight shadow */
}

.navbar-brand {
  margin-left: 20px;
  font-weight: bold;
  color: #005307; /* Green color for the brand */
}

.navbar-brand:hover {
  color: #003d00; /* Darker green color on hover */
}

.user-picture img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border: 4px solid #fff;
}

.user-details h2, .user-details h3 {
  color: #333333;
}
