<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/logo plante.png" alt="Logo" height="60" class="d-inline-block align-top">
    </a>
    <div class="ml-auto">
      <a class="navbar-brand" routerLink="/profile" [routerLinkActive]="['active']" style="color: #005307;">Mon
        Espace</a>
      <a class="navbar-brand" routerLink="/publications" [routerLinkActive]="['active']">Publications</a>
    </div>
  </nav>

  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <div class="user-picture">
          <img src="assets/images.jpeg" alt="User Avatar" class="img-fluid rounded">
        </div>
        <div class="user-details mt-3">
          <h3>{{ user.firstName }}</h3>
          <h3>{{ user.lastName }}</h3>
          <p>Email: {{ user.email }}</p>
          <button class="btn btn-success" (click)="modifierCoordonnees()">Modifier mes coordonnées</button>
        </div>
        <div class="modification-form" *ngIf="showModificationForm">
          <form (submit)="enregistrerCoordonnees()">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nouveau prénom" [(ngModel)]="nouveauPrenom">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nouveau nom" [(ngModel)]="nouveauNom">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Nouvel email" [(ngModel)]="nouvelEmail">
            </div>
            <button type="submit" class="btn btn-success">Enregistrer</button>
          </form>
        </div>
        <div class="publications mt-4">
          <h2>Mes Publications</h2>
          <div class="list-group">
            <a *ngFor="let publication of user.publications" class="list-group-item">
              <h5 class="mb-1">{{ publication.date }}</h5>
              <p class="mb-1">{{ publication.description }}</p>
            </a>
          </div>
        </div>
        <div class="row mt-4">
          <div class="col-md-12">
            <div class="add-plant-box">
              <h2>Ajouter une publication</h2>
              <p>Vous souhaitez ajouter une nouvelle publication ? Cliquez sur le bouton ci-dessous pour accéder au
                formulaire.</p>
              <a routerLink="/ajouterpublication" class="btn btn-success">Ajouter une publication</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>

</html>
