<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/Capture_d_écran_2023-12-06_114303-removebg-preview%204.png" alt="Logo" height="60"
        class="d-inline-block align-top">
    </a>
    <div class="ml-auto">
      <a class="navbar-brand" routerLink="/profile" [routerLinkActive]="['active']" style="color: #005307;"  >Mon Espace</a>
      <a class="navbar-brand" routerLink="/publications" [routerLinkActive]="['active']">Publications</a>
    </div>
  </nav>
  
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <div class="user-picture">

          <img src="assets/images.jpeg" alt="User Avatar" class="img-fluid rounded">
        </div>
        <div class="user-details mt-3">
          <h3>Prénom</h3>
          <h3>nom</h3>
          <p>Email: userexample.com</p>
          <p>Email: userexample.com</p>
          <p>Email: userexample.com</p>
          <p>Email: userexample.com</p>
        </div>
      </div>
    </div>
  </div>
