<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="assets/LOGO.png" alt="Lpogo" height="60" class="d-inline-block align-top">
  </a>
  <div class="navbar-collapse justify-content-center">

  </div>
  <div class="ml-auto">
    <a class="navbar-brand" routerLink="/profile" [routerLinkActive]="['active']"
      [routerLinkActiveOptions]="{ exact: true }">Mon Espace</a>
    <a class="navbar-brand" routerLink="/publications" [routerLinkActive]="['active']" style="color: #005307;">Publications</a>
  </div>
</nav>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card shadow-sm p-4">
        <div class="plant-image text-center mb-4">
          <img src="assets/plante.jpg" alt="Image de la plante" class="img-fluid rounded" style="width: 200px;">
        </div>
        <div class="description mb-4">
          <h3 class="text-dark">Description</h3>
          <p class="text-muted">{{ publication.description }}</p>
        </div>
        <div class="plant-info mb-4">
          <h3 class="text-dark">Informations sur les plantes publiée dans la publication</h3>
          <ul class="list-unstyled">
            <li *ngFor="let plant of plants" class="mb-4">
              <h5 class="text-primary">Nom</h5>
              <p class="font-weight-bold mb-2">{{ plant.name }}</p>
              <h5 class="text-primary">Description</h5>
              <p class="text-muted mb-2">{{ plant.description }}</p>
              <h5 class="text-primary">État de la plante</h5>
              <p class="font-weight-bold mb-2">{{ plant.plantCondition?.name }}</p>
              <p>------------------------------------------------------------------------</p>

            </li>
          </ul>
        </div>
        <div class="message-form">
          <h3 class="text-dark">Réserver la publication</h3>
          <form>
            <!-- Formulaire de message -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>