<div class="container">
  <!-- Logo-->
  <div class="logo-container">
    <img src="assets\Capture_d_écran_2023-12-06_114303-removebg-preview 4.png" alt="Logo" class="logo-img">
  </div>

  <div class="row">
    <!-- Left Column - Signup Form -->
    <div class="col-md-6">
      <div class="signup-form">
        <h1 class="mb-4">Inscription</h1>
        <!-- Add 'mt-2' for margin-top -->
        <form [formGroup]="signupForm" (ngSubmit)="submit()">
          <div class="form-group">
            <label for="firstName">Nom:</label>
            <input type="text" id="firstName" class="form-control" formControlName="Nom" required>
          </div>
          <div class="form-group">
            <label for="lastName">Prénom:</label>
            <input type="text" id="lastName" class="form-control" formControlName="Prénom" required>
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" class="form-control" formControlName="Email" required>
          </div>
          <div class="form-group">
            <label for="password">Mot de passe:</label>
            <input type="password" id="password" class="form-control" formControlName="Mot de passe" required>
          </div>

          <button type="submit" class="btn btn-primary btn-lg btn-block">S'inscrire</button>
        </form>

        <div class="signin-line">
          <span>Vous avez déjà un compte ? </span>
          <a routerLink="/signin" style="color: green;">Se connecter</a>
        </div>
      </div>
    </div>

    <!-- Right Column - Picture -->
    <div class="col-md-6">
      <div class="signup-image">
        <!-- Replace 'path/to/your/image.jpg' with your actual image path -->
        <img src="assets\chrisLee70l1tDAI6rMUnsplash1.jpeg" alt="Signup Image" class="img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="footer" >
  © Credits : EPSI RENNES 2024 
</div>