<!-- ajouter-publication.component.html -->
<div class="container mt-4">
    <div class="card">
      <div class="card-header">
        <h2 class="card-title">Ajouter une publication</h2>
      </div>
      <div class="card-body">
        <form [formGroup]="formPublication">
        
          <div class="form-group">
            <label for="description" for="description">Description</label>
            <textarea class="form-control"
             id="description"
              rows="3" formControlName="description"
               required>
          </textarea>
          </div>
          <div class="form-group">
            <label for="addressId">Adresse</label>
            <input type="text"  id="addressId" formControlName="addressId">
          </div>
          <div class="form-group">
            <label for="publisherId">publisherId</label>
            <input type="text"  id="publisherId" formControlName="publisherId">
          </div>
          <div formArrayName="plantsId">
            <label for="plantsId">Plants ID</label>
            <div *ngFor="let plantIdControl of plantsId.controls; let i = index" class="input-group mb-3">
              <input type="text" class="form-control" [formControlName]="i">
              <div class="input-group-append">
                <button type="button" class="btn btn-outline-danger" (click)="removePlantId(i)">Remove</button>
              </div>
            </div>
            <button type="button" class="btn btn-outline-primary" (click)="addPlantId()">Add Plant ID</button>
          </div>
  
          <button type="button" (click)="ajouterPublication()" class="btn btn-success">Ajouter publication</button>
        </form>
      </div>
    </div>
  </div>
  