<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Publications</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="assets/Capture_d_écran_2023-12-06_114303-removebg-preview%204.png" alt="Logo" height="60"
        class="d-inline-block align-top">
    </a>
    <div class="ml-auto">
      <a class="navbar-brand" routerLink="/profile" [routerLinkActive]="['active']"
        [routerLinkActiveOptions]="{ exact: true }">Mon Espace</a>
      <a class="navbar-brand" [routerLinkActive]="['active']" style="color: #005307;">Publications</a>
    </div>
  </nav>




  <div class="container mt-2">
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="assets/plante.jpg" class="card-img-top" alt="Plant Image">
          <div class="card-body">
            <h5 class="card-title">Plant Name 1</h5>
            <p class="card-text">Plant Description 1</p>
            <a routerLink="/publication" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/plante.jpg" class="card-img-top" alt="Plant Image">
          <div class="card-body">
            <h5 class="card-title">Plant Name 1</h5>
            <p class="card-text">Plant Description 1</p>
            <a routerLink="/publication" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card">
          <img src="assets/plante.jpg" class="card-img-top" alt="Plant Image">
          <div class="card-body">
            <h5 class="card-title">Plant Name 1</h5>
            <p class="card-text">Plant Description 1</p>
            <a routerLink="/publication" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card">
          <img src="assets/plante.jpg" class="card-img-top" alt="Plant Image">
          <div class="card-body">
            <h5 class="card-title">Plant Name 1</h5>
            <p class="card-text">Plant Description 1</p>
            <a routerLink="/publication" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/plante.jpg" class="card-img-top" alt="Plant Image">
          <div class="card-body">
            <h5 class="card-title">Plant Name 1</h5>
            <p class="card-text">Plant Description 1</p>
            <a routerLink="/publication" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="assets/plante.jpg" class="card-img-top" alt="Plant Image">
          <div class="card-body">
            <h5 class="card-title">Plant Name 1</h5>
            <p class="card-text">Plant Description 1</p>
            <a routerLink="/publication" class="btn btn-primary">View Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</body>

</html>
